    <nav class="navbar navbar-expand-md sticky-top navbar-dark bg-dark">
  <div class="container">
      <%= link_to 'CorneliaKelinske.com', de_index_path, class: 'navbar-brand d-none d-sm-flex' %>
      <%= link_to 'CK | Diplomdolmetscherin', de_index_path, class: 'navbar-brand d-flex d-sm-none' %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mr-auto">
            <%= link_to 'Über mich', de_ubermich_path, class: 'nav-item nav-link' %>
            <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Leistungen
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'Übersetzen', de_ubersetzen_path, class: 'dropdown-item' %>
            <%= link_to 'Dolmetschen', de_dolmetschen_path, class: 'dropdown-item' %>
              <div class="dropdown-divider"></div>
              <%= link_to 'Alles Leistungen', de_leistungen_path, class: 'dropdown-item' %>
            </div>
          </div>
            <%= link_to 'Feedback', de_feedback_path, class: 'nav-item nav-link' %>
            <%= link_to 'Kontakt', de_kontakt_path, class: 'nav-item nav-link' %>

        </div>
              <div class="navbar-nav">
        <%= link_to 'English', en_index_path, class: 'nav-item nav-link' %>
      </div>
      </div>
  </div>
    </nav>