<div class="row">
    <% counter = 0 %>
    <% @feedback.each do |f| %>
        <% if local_assigns[:center] %>
            <div class="col-12 col-lg-8 offset-lg-1" >
        <% else %>
            <div class="col-12 col-md-7 <%= "offset-md-4" if counter.odd? %>" >
        <% end %>
            <blockquote class="blockquote container m-md-5 my-2 p-2 bg-brown0 shadow-sm rounded">
            <div class="d-flex <%= 'justify-content-center' if local_assigns[:center] %>">
                <div class="align-top px-2"><%= image_tag 'quote.svg', width: 15, class: 'quote' %></div>

                <div>
                    <p class="mb-0">
                        <%= f[:text] %>
                    </p>
                </div>
                <div class="align-top px-2 rotate"><%= image_tag 'quote.svg', width: 15, class: 'quote' %></div>
            </div>
                <footer class="text-center mt-1 small text-orange2">
                <% f[:author].each do |a| %>
                    <%= a %> <br>
                <% end %>
                <% if f[:company] && f[:website] %>
                    <%= link_to f[:website], html_options = {target: "_blank"} do %>
                        <% f[:company].each do |a| %>
                            <%= a %> <br>
                        <% end %>
                    <% end %>
                <% end %>
            </footer>
            </blockquote>
        </div>
        <% counter += 1 %>
    <% end %>
</div>