<!DOCTYPE html>
<html>
  <head>
    <title>CK | <%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>
 <%= render 'layouts/header' %>
  <body>
  <% if yield(:lang) == 'en' %>
  <%= render 'en/navbar'%>
<%   else %>
  <%= render 'de/navbar' %>
<%   end %>
<div class="background-image">
  <div class="container foreground p-5">
    <%= yield %>
  </div>
</div>
  </body>
</html>
